.Login_Section{
    width: 90%;
    height: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}

.Login_Section .left_portion{
    width: 47%;
    height: 80%;
  
}
.Login_Section .left_portion img{
    width:100%;
}
.Login_Section .right_portion{
    width: 40%;
    height: 80%;
    border: 2px solid rgb(52, 142, 216);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.index_page{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.Navbar{
    align-items: center;
    text-align: center;
}
.Navbar h1{
    color: rgb(53, 119, 206);
}
.Login_form{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: center;

}
.Login_form input{
    width: 80%;
    height: 4rem;
    margin-bottom: 10px;
   
}

.Login_form button{
    width: 80%;
    height: 3rem;
    background-color: rgb(167, 220, 233);
    color: rgb(1, 8, 1);
    cursor: pointer;
    border: none;
}
.other_credentials{
    width: 80%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Login_details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}
.Login_details a{
    color: rgb(122, 196, 49);
}
.Login_btn{
    margin-top: 1rem;
}
.other_credentials img{
    width: 20%;
    height: 3rem;
}
.others{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.credentials{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}